.countriesContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.listCases{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
    height: 860px;
}