.conteinerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.formData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
    width: 30%;
}

.inputDateForm{
    padding: 16.5px 14px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
}
.btn{
    color: #fff!important;
    background-color: rgba(34, 115, 182, 0.877)!important;
}

.btn:hover{
    background-color: rgba(13, 55, 90, 0.877)!important;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }
 input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.alertCampos{
    position: absolute;
    top: 10px;
    right: 10px;
}
.dateInvalid{
    color: red;
}